/*
 * Chess Piece Sets
 */

/* Merida pieces */
.merida .cg-board piece.pawn.white {
  background-image: url('images/pieces/merida/wP.svg');
}
.merida .cg-board piece.bishop.white {
  background-image: url('images/pieces/merida/wB.svg');
}
.merida .cg-board piece.knight.white {
  background-image: url('images/pieces/merida/wN.svg');
}
.merida .cg-board piece.rook.white {
  background-image: url('images/pieces/merida/wR.svg');
}
.merida .cg-board piece.queen.white {
  background-image: url('images/pieces/merida/wQ.svg');
}
.merida .cg-board piece.king.white {
  background-image: url('images/pieces/merida/wK.svg');
}
.merida .cg-board piece.pawn.black {
  background-image: url('images/pieces/merida/bP.svg');
}
.merida .cg-board piece.bishop.black {
  background-image: url('images/pieces/merida/bB.svg');
}
.merida .cg-board piece.knight.black {
  background-image: url('images/pieces/merida/bN.svg');
}
.merida .cg-board piece.rook.black {
  background-image: url('images/pieces/merida/bR.svg');
}
.merida .cg-board piece.queen.black {
  background-image: url('images/pieces/merida/bQ.svg');
}
.merida .cg-board piece.king.black {
  background-image: url('images/pieces/merida/bK.svg');
}

/* Alpha pieces */
.alpha .cg-board piece.pawn.white {
  background-image: url('images/pieces/alpha/wP.svg');
}
.alpha .cg-board piece.bishop.white {
  background-image: url('images/pieces/alpha/wB.svg');
}
.alpha .cg-board piece.knight.white {
  background-image: url('images/pieces/alpha/wN.svg');
}
.alpha .cg-board piece.rook.white {
  background-image: url('images/pieces/alpha/wR.svg');
}
.alpha .cg-board piece.queen.white {
  background-image: url('images/pieces/alpha/wQ.svg');
}
.alpha .cg-board piece.king.white {
  background-image: url('images/pieces/alpha/wK.svg');
}
.alpha .cg-board piece.pawn.black {
  background-image: url('images/pieces/alpha/bP.svg');
}
.alpha .cg-board piece.bishop.black {
  background-image: url('images/pieces/alpha/bB.svg');
}
.alpha .cg-board piece.knight.black {
  background-image: url('images/pieces/alpha/bN.svg');
}
.alpha .cg-board piece.rook.black {
  background-image: url('images/pieces/alpha/bR.svg');
}
.alpha .cg-board piece.queen.black {
  background-image: url('images/pieces/alpha/bQ.svg');
}
.alpha .cg-board piece.king.black {
  background-image: url('images/pieces/alpha/bK.svg');
}

/* Leipzig pieces */
.leipzig .cg-board piece.pawn.white {
  background-image: url('images/pieces/leipzig/wP.svg');
}
.leipzig .cg-board piece.bishop.white {
  background-image: url('images/pieces/leipzig/wB.svg');
}
.leipzig .cg-board piece.knight.white {
  background-image: url('images/pieces/leipzig/wN.svg');
}
.leipzig .cg-board piece.rook.white {
  background-image: url('images/pieces/leipzig/wR.svg');
}
.leipzig .cg-board piece.queen.white {
  background-image: url('images/pieces/leipzig/wQ.svg');
}
.leipzig .cg-board piece.king.white {
  background-image: url('images/pieces/leipzig/wK.svg');
}
.leipzig .cg-board piece.pawn.black {
  background-image: url('images/pieces/leipzig/bP.svg');
}
.leipzig .cg-board piece.bishop.black {
  background-image: url('images/pieces/leipzig/bB.svg');
}
.leipzig .cg-board piece.knight.black {
  background-image: url('images/pieces/leipzig/bN.svg');
}
.leipzig .cg-board piece.rook.black {
  background-image: url('images/pieces/leipzig/bR.svg');
}
.leipzig .cg-board piece.queen.black {
  background-image: url('images/pieces/leipzig/bQ.svg');
}
.leipzig .cg-board piece.king.black {
  background-image: url('images/pieces/leipzig/bK.svg');
}

/* Berlin pieces */
.berlin .cg-board piece.pawn.white {
  background-image: url('images/pieces/berlin/wP.svg');
}
.berlin .cg-board piece.bishop.white {
  background-image: url('images/pieces/berlin/wB.svg');
}
.berlin .cg-board piece.knight.white {
  background-image: url('images/pieces/berlin/wN.svg');
}
.berlin .cg-board piece.rook.white {
  background-image: url('images/pieces/berlin/wR.svg');
}
.berlin .cg-board piece.queen.white {
  background-image: url('images/pieces/berlin/wQ.svg');
}
.berlin .cg-board piece.king.white {
  background-image: url('images/pieces/berlin/wK.svg');
}
.berlin .cg-board piece.pawn.black {
  background-image: url('images/pieces/berlin/bP.svg');
}
.berlin .cg-board piece.bishop.black {
  background-image: url('images/pieces/berlin/bB.svg');
}
.berlin .cg-board piece.knight.black {
  background-image: url('images/pieces/berlin/bN.svg');
}
.berlin .cg-board piece.rook.black {
  background-image: url('images/pieces/berlin/bR.svg');
}
.berlin .cg-board piece.queen.black {
  background-image: url('images/pieces/berlin/bQ.svg');
}
.berlin .cg-board piece.king.black {
  background-image: url('images/pieces/berlin/bK.svg');
}

/* USCF pieces */
.uscf .cg-board piece.pawn.white {
  background-image: url('images/pieces/uscf/wP.svg');
}
.uscf .cg-board piece.bishop.white {
  background-image: url('images/pieces/uscf/wB.svg');
}
.uscf .cg-board piece.knight.white {
  background-image: url('images/pieces/uscf/wN.svg');
}
.uscf .cg-board piece.rook.white {
  background-image: url('images/pieces/uscf/wR.svg');
}
.uscf .cg-board piece.queen.white {
  background-image: url('images/pieces/uscf/wQ.svg');
}
.uscf .cg-board piece.king.white {
  background-image: url('images/pieces/uscf/wK.svg');
}
.uscf .cg-board piece.pawn.black {
  background-image: url('images/pieces/uscf/bP.svg');
}
.uscf .cg-board piece.bishop.black {
  background-image: url('images/pieces/uscf/bB.svg');
}
.uscf .cg-board piece.knight.black {
  background-image: url('images/pieces/uscf/bN.svg');
}
.uscf .cg-board piece.rook.black {
  background-image: url('images/pieces/uscf/bR.svg');
}
.uscf .cg-board piece.queen.black {
  background-image: url('images/pieces/uscf/bQ.svg');
}
.uscf .cg-board piece.king.black {
  background-image: url('images/pieces/uscf/bK.svg');
}
.neo .cg-board piece.pawn.white {
  background-image: url('images/pieces/neo/wP.svg');
}
.neo .cg-board piece.bishop.white {
  background-image: url('images/pieces/neo/wB.svg');
}
.neo .cg-board piece.knight.white {
  background-image: url('images/pieces/neo/wN.svg');
}
.neo .cg-board piece.rook.white {
  background-image: url('images/pieces/neo/wR.svg');
}
.neo .cg-board piece.queen.white {
  background-image: url('images/pieces/neo/wQ.svg');
}
.neo .cg-board piece.king.white {
  background-image: url('images/pieces/neo/wK.svg');
}
.neo .cg-board piece.pawn.black {
  background-image: url('images/pieces/neo/bP.svg');
}
.neo .cg-board piece.bishop.black {
  background-image: url('images/pieces/neo/bB.svg');
}
.neo .cg-board piece.knight.black {
  background-image: url('images/pieces/neo/bN.svg');
}
.neo .cg-board piece.rook.black {
  background-image: url('images/pieces/neo/bR.svg');
}
.neo .cg-board piece.queen.black {
  background-image: url('images/pieces/neo/bQ.svg');
}
.neo .cg-board piece.king.black {
  background-image: url('images/pieces/neo/bK.svg');
}
